[Unit]
Description = Todo Service


[Service]
Type=simple
Environment=SERVER_PORT=8080
Environment=REDIS_API_ADDRESS=http://127.0.0.1:8080
ExecStart=/bin/node /todo/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target"
